<div class="center jumbotron">
  <h1>洋服探しはFASHION ONEで</h1>

  <h2>
    好きな洋服のジャンル、お店の地域を選び、あなたにぴったりのお店を探そう
  </h2>

</div>

<div class="input-group">
  <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="キーワードを入力"></input>
  <span class="input-group-btn input-group-append">
    <submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i> 検索</submit>
  </span>
</div>

