<div class="input-group">
  <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="キーワードを入力"></input>
  
  <span class="input-group-btn input-group-append">
    <submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i> 検索</submit>
  </span>
</div>

<div class="area">
  <h1>エリアから探す</h1>
  <table>
    <tr>
      <th>東京</th>
    </tr>
    <tr>
      <td>渋谷</td>
      <td>原宿</td>
      <td>下北沢</td>
      <td>代官山</td>
      <td>中目黒</td>
    </tr>
    <tr>
      <td>新宿</td>
      <td>代々木</td>
      <td>中野</td>
      <td>高円寺</td>
      <td>吉祥寺</td>
    </tr>
    <tr>
      <td>六本木</td>
      <td>銀座</td>
      <td>有楽町</td>
      <td>東京</td>
      <td>池袋</td>
    </tr>
  </table>
</div>

<div class="genre">
  <h1>ジャンルから探す</h1>
  <div class="genre-images">
    <div class="genre-images-list">
      <img src="/assets/fastfashion.jpeg" width="150" height="150" alt="ファストファッション">
      <p>ファストファッション</p>
    </div> 
    <div class="genre-images-list">
      <img src="/assets/selectshop.jpeg" width="150" height="150" alt="セレクトショップ">
      <p>セレクトショップ</p>
    </div>
    <div class="genre-images-list">
      <img src="/assets/street.jpeg" width="150" height="150" alt="ストリート">
      <p>ストリート</p>
    </div>
    <div class="genre-images-list">
      <img src="/assets/modefashion.jpeg" width="150" height="150" alt="モードファッション">
      <p>モードファッション</p>
    </div>
    <div class="genre-images-list">
      <img src="/assets/luxury.jpeg" width="150" height="150" alt="ラグジュアリー">
      <p>ラグジュアリー</p>
    </div>
    </div>
</div>

<div class="brand">
  <div class="brand-title">
  <h1>ブランドから探す</h1>
    <div class="brand-images">
      <div class="brand-images-list">
        <img src="/assets/UNIQLO.png" width="150" height="150" alt="ユニクロ">
        <p>ユニクロ</p>
      </div>
      <div class="brand-images-list">
        <img src="/assets/GU.png" width="150" height="150" alt="GU">
        <p>GU</p>
      </div>
      <div class="brand-images-list">
        <img src="/assets/H&M.jpeg" width="150" height="150" alt="H&M">
        <p>H&M</p>
      </div>
      <div class="brand-images-list">
        <img src="/assets/ZARA.jpeg" width="150" height="150" alt="ZARA">
        <p>ZARA</p>
      </div>
      <div class="brand-images-list">
        <img src="/assets/BEAMS.png" width="150" height="150" alt="BEAMS">
        <p>BEAMS</p>
      </div>
      <div class="brand-images-list">
        <img src="/assets/UNITEDARROWS.jpeg" width="150" height="150" alt="UNITEDARROWS">
        <p>UNITED ARROWS</p>
      </div>
    </div>
  </div>
</div>

